/*START OF CSS*/
/*PICTURE FROM: https://www.pexels.com/search/dj%20party%20/*/
body{
    background-image: url(Images/pexels-marcin-dampc-1684187.jpg);
    font-family: 'Bebas Neue', cursive;  
    }
header{
    color: white;
    font-size: 70px;
    }
header .logo{
        font-size: 70px;
        color: rgb(255, 255, 255);
        margin-left: 1%; 
    }
header.menu{
        color: white;
        text-decoration: none;
    }
    /*FONTS*/
    h1{
        font-family: 'Bebas Neue' cursive;
        font-weight: bolder;
        color: white;
        padding-top: 8%;
    }
    h2{
        font-family: 'Bebas Neue' cursive;
        font-weight: bold;
        color: black;
    }
    h3{
        font-family: 'Bebas Neue' cursive;
        font-weight: normal;
        color: black;
    }
    h5{
        font-family: 'Bebas Neue' cursive;
        color: white;
        text-align: center;
    }
/*NAVIGATION BAR*/
a{
    padding: 8px;
    text-decoration: none;
}
nav{
  font-family: 'Bebas Neue' cursive;
  float: right;
  color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
}
li {
    color: rgb(0, 0, 0);
    background:none;
    display: block;
    float: right;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 60px;
}
li a{
    display:inline;
    color: rgb(3, 3, 3);
    text-align: right;
    font-family: 'Bebas Neue' cursive;
    font-weight: bold;
    float: right;
    font-size: 50%;
}
li:hover {
  cursor: pointer;
}
/*ICONS*/
.icons{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top:8%;
}
/*GRID*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
  }
    /*FOOTER*/
    footer{
        margin-top: 500px;
        height: 100px;
        color: grey;
        left: 0;
        right: 0;
    }
    .footer-content{
        padding: 24px;
        font-family: 'Bebas Neue' cursive;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .footer-content p{
        max-width: 500px;
        margin-bottom: 10px auto;
        line-height: 28px;
        font-size: 14px;
        line-break: auto;
    }
    .footer-content ul a{
        display: inline-block;
        margin-bottom: 5px;
        color: rgb(255, 255, 255);
    }
    .footer-content ul li{
        display: inline-block;
    }
    footer img{
      width: 70px;
      height: auto;
      padding: -60px;
    }
    /*FLEX CONTAINER*/
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    /*END OF CODE*/
    /*MOST OF THE CODE WAS GOTTEN FROM PREVIOUS PROJECTS*/