/*START OF CSS*/
/*PICTURE FROM: https://www.pexels.com/search/dj%20party%20/*/
body{
    background-image: url(Images/pexels-marcin-dampc-1684187.jpg);
    font-family: 'Bebas Neue', cursive;  
    }
header{
    color: white;
    font-size: 70px;
    }
header .logo{
        font-size: 70px;
        color: rgb(255, 255, 255);
        margin-left: 1%; 
    }
header.menu{
        color: white;
        text-decoration: none;
    }
    /*FONTS*/
    h1{
        font-family: 'Bebas Neue' cursive;
        font-weight: bolder;
        color: black;
        padding-top: 8%;
    }
    h2{
        font-family: 'Bebas Neue' cursive;
        font-weight: bold;
        color: black;
    }
    h3{
        font-family: 'Bebas Neue' cursive;
        font-weight: normal;
        color: black;
    }
    p{
        color: white;
        font-family: 'Bebas Neue' cursive;
    }
    /*NAVIGATION BAR*/
    a{
        padding: 10px;
        text-decoration: none;
    }
    .headernav{
      font-family: 'Bebas Neue' cursive;
      float: right;
      color: black;
    }
    ul {
        list-style-type: none;
        background: none;
        margin: 0;
        padding: 0;
    }
    li {
        color: black;
        background:none;
        display: block;
        float: right;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        font-size: 60px;
    }
    li a{
        display:inline;
        color: black;
        text-align: right;
        font-family: 'Bebas Neue' cursive;
        font-weight: bold;
        float: right;
        font-size: 50%;
    }
    /*CODE FROM: https://css-tricks.com/solved-with-css-dropdown-menus/*/
    li:hover {
        cursor: pointer;
    }
    ul li ul {
        background: none;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }
    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    ul li ul li {
      clear: both;
      width: 100%;
    }
    /*BUTTON ICONS*/
      .iconbtt{
        display: inline-block;
    }
    /*ICONS*/
     .icons{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .container img {
        width: 20%;
        height: auto;
    }
    /*FOOTER*/
    footer{
        margin-top: 500px;
        height: 100px;
        color: grey;
        left: 0;
        right: 0;
    }
    .footer-content{
        padding: 24px;
        font-family: 'Bebas Neue' cursive;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .footer-content p{
        max-width: 500px;
        margin-bottom: 10px auto;
        line-height: 28px;
        font-size: 14px;
        line-break: auto;
    }
    .footer-content ul a{
        display: inline-block;
        margin-bottom: 5px;
        color: rgb(255, 255, 255);
    }
    .footer-content ul li{
        display: inline-block;
    }
    footer img{
      width: 70px;
      height: auto;
      padding: -60px;
    }
    /*FLEX CONTAINER*/
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    /*END OF CODE*/
    /*MOST OF THE CODE WAS GOTTEN FROM PREVIOUS PROJECTS*/